.header{
    border: 1px solid black;
    outline-style: groove;
    outline-color: #0033CC;
	background-color: white;
}

#bCancel {
    margin-left: 50px;
}

#name {
    display: none;
    visibility: hidden;
}

.profile{
	border: 1px solid black;
	outline-style: groove;
	outline-color: #0033CC;
	margin-top: 5%;
	display: block;
	height: 460px;
	width: 50%;
	font-size: 145%;
	background-color: white;
	
}

label{
    color: green;
}

.edit, .new{
	display: none;
}

.info{
	color: green;
}

.link {
    font-size: 16px;
    padding: 0px 10px 0px 10px;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }