<!DOCTYPE html>
<html>
<head lang="en">
   <title>AC3 Admin</title>
      <link rel="SHORTCUT ICON" href="images/AC3-logo.ico">
	  <link rel="stylesheet" type="text/css" href="../Css/Admin.css">
	  <link rel="stylesheet" href="UI/style.css">
	  <link rel="stylesheet" href="../UI/jquery-ui.css">
      <script src="../jqplot/jquery.min.js"></script>
	  <script src="../UI/jquery-ui.js"></script>
      <script type="text/javascript" src="../Javascript/Admin.js"></script>
</head>
<table class="header" width="100%">
<tr>
<td><img src="../Images/AC3-logo.png" align="left" style="width:100px;height:100px"></td>
<td align="center"><font size="8"><bold>Administrator Panel</bold></font></td>
<td align="center"><input id="Main" type="submit" value="MainView" /><input id="Logout" type="submit" value="Logout" /></td>
</tr>
</table>
<body bgcolor='#3488C4'>
<Center>
<div class="body" style="display: table;">
    <div class="profile" style="display: table-row">
	<div style="display: table-cell">
		<table>
		<caption><bold><font size="5" color="blue">Users Information</font></bold></caption>
		<tr><td>
			User ID: </td><td>
			<select name="Users" id="Users">
			<option selected="selected">Administrator</option>
			<option>New User</option>
			<option>Chris1</option>
			<option>Chris2</option>
			<option>Alex</option>
			</select>
		</td></tr>
		<tr><td>Privilege Level: </td><td><label class="info">Top Secret</label><input class="edit" type="text" name="security"/></td></tr>
		<tr><td>First name: </td><td><label class="info">Firstname1</label><input class="edit" type="text" name="firstname"/></td></tr>
		<tr><td>Last name: </td><td><label class="info">Lastname1</label><input class="edit" type="text" name="lastname"/></td></tr>
		<tr><td>User name: </td><td><label class="info">Uesr 1</label><input class="edit" type="text" name="username"/></td></tr>
		<tr><td>Password: </td><td><label class="info">Password1</label><input class="edit" type="text" name="password"/></td></tr>
		<tr><td>Email: </td><td><label class="info">Email1</label><input class="edit" type="text" name="email"/></td></tr>
		<tr><td>Phone Number: </td><td><label class="info">77635124554</label><input class="edit" type="text" name="phonenumber"/></td></tr>
		</table>
		<div style="margin-top: 5%">
		<input id="bEdit" type="submit" value="Edit"/>
		<input type="submit" value="Save Changes"/>
		<input type="submit" value="Delete User"/>
		</div>
	</div>
	<div class="sensorinfo" style="display: table-cell">
		<table>
			<caption><bold><font size="5" color="blue">Sensor Information</font></bold></caption>
			<tr><td>
			Sensor #: </td>
			<td><select name="sensors" id="sensors">
			<option selected="selected">Sensor 1</option>
			<option>Sensor 2</option>
			<option>Sensor 3</option>
			<option>Sensor 4</option>
			<option>Sensor 5</option></select></td></tr>
			<tr><td>Sensor Name: </td><td><label class="sinfo">Kitchen</label><input type="text" class="sedit"/><td></tr>
			<tr><td>Description: </td></tr>
			<tr><td><textarea rows="4" cols="50"></textarea><td></tr>
		</table>
		<div style="margin-top: 22%"><input type="submit" value="Save Changes"/><input type="submit" value="Delete Sensor"/></div>
	</div>
	</div>
</div>
</Center>
</body>
</html>