<!DOCTYPE html>
 <html>
     <head>
      <meta charset="UTF-8">
      <title>AC3 Login</title>
      <link rel="SHORTCUT ICON" href="../../static/ac3app/images/AC3-logo.ico">
	  <link rel="stylesheet" type="text/css" href="../../static/ac3app/stylesheets/Login.css">
      <script src="../../static/ac3app/jqplot/jquery.min.js"></script>
      <script type="text/javascript" src="../../static/ac3app/scripts/Login.js"></script>
     </head>
     <Center>
		<form id="login_form" method="post" action="/ac3app/login/" autocomplete="off">
         <body bgcolor='#3488C4'>
		<div class="login">
         <img src="../../static/ac3app/images/AC3-logo.png" align="center" style="width:304px;height:228px">
          <h1>Welcome to AC3 Home Security Management</h1>
		  <table bgcolor='white' align="center">
            {% csrf_token %}
            <tr><td>Username: </td><td><input type="text" name="username" value="" size="30" /></td></tr>
            <tr><td>Password: </td><td><input type="password" name="password" value="" size="30" /></td></tr>
		  </table>
          <input class="button" type="submit" name="login_sub" value="Submit" /><br>
          <a href='#' id="f_link">Forgot Password?</a><br>
          <label class="hfields">A temporary password will be sent to username's email</label><br>
          <input class="hfields button" type="submit" name="forgot_password_sub" value="Send Email" /><br>
            <div>
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}{{ message }}
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{{ message }}
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
		</div>
         </body>
		</form>
     </Center>
 </html>
