<!DOCTYPE html>
 <html>
     <head>
      <meta charset="UTF-8">
      <title>AC3 Login</title>
      <link rel="SHORTCUT ICON" href="../../static/ac3app/images/AC3-logo.ico">
	  <link rel="stylesheet" type="text/css" href="../../static/ac3app/stylesheets/Login.css">
     </head>
     <Center>
		<form id="login_form" method="post" action="." autocomplete="off">
            {% csrf_token %}
         <body bgcolor='#3488C4'>
		<div class="login">
         <img src="../../static/ac3app/images/AC3-logo.png" align="center" style="width:304px;height:228px">
         {% if user.is_staff and profile.hasTempPassword == False %}
            <h1>Password Resets</h1>
         {% else %}
            <h1>User: <label>{{ user.username }}</label> Password Reset</h1>
         {% endif %}
		  <table bgcolor='white' align="center">
              {% if user.is_staff  and profile.hasTempPassword == False%}
                  <tr><td>User:
                  </td><td>{{ form.chooseuser }}</td></tr>
              {% endif %}
              <tr><td>New Password: </td><td>{{ form.nPassword }}</td></tr>
              <tr><td>Confirm Password: </td><td>{{ form.cPassword }}</td></tr>
		  </tbody>
		  </table>
          <input class="button" type="submit" value="Submit"/>
          <input class="button" type="submit" name="Cancel" value="Cancel"/>
          <div>
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}{{ message }}
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{{ message }}
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
		</div>
         </body>
		</form>
     </Center>
 </html>
