.header{
    border: 1px solid black;
    outline-style: groove;
    outline-color: #0033CC;
	background-color: white;
}

.UserChart{
	border: 6px solid black;
	width: 400px;
	height: 300px;
	margin-left: 25%;
	display: table-cell;
}

.SensorChart{
	border: 6px solid black;
	width: 400px;
	height: 300px;
	margin-left: 25%;
	display: table-cell;
}

.events{
	display: block;
	height: 450px; 
	float: left;
	width: 400px;
	margin-top: .1%;
	font-size: 12px; 
	overflow: auto;
	border-collapse: collapse;
	border: 4px solid black;
}

.filter{
	border: 4px solid black;
	background-color: white;
	margin-top: 1%;
}

.jqplot-title{
	color: black;
	font-weight: bold;
}

/* EVERYTHING BELOW WILL CHANGE */
table, th {
    border: 1px solid black;
	font-size: 140%;
}

th{
	background-color: #907F68;
}