<!DOCTYPE html>
<html>
<head lang="en">
  <title>AC3 Profile</title>
  <link rel="SHORTCUT ICON" href="../Images/AC3-logo.ico">
  <script src="../jqplot/jquery.min.js"></script>
  <script src="../Javascript/Profile.js"></script>
  <link rel="stylesheet" type="text/css" href="../Css/Profile.css">
</head>
<table class="header" width="100%">
<tr>
<td><img src="../Images/AC3-logo.png" align="left" style="width:100px;height:100px"></td>
<td align="center"><font size="8"><bold>User1 Profile</bold></font></td>
<td align="center"><button>Main View</button><button>Logout</button></td>
</tr>
</table>
<body bgcolor='#3488C4'>
<form action='#'>
<Center>
<div class="profile">
<table>
<caption><bold><font size="6" color="blue">Profile Information</font></bold></caption>
<tr><td>User ID: </td><td><label class="info">ID1</label></td></tr>
<tr><td>Privilege Level: </td><td><label class="info">Top Secret</label></td></tr>
<tr><td>First name: </td><td><label class="info">Firstname1</label><input class="edit" type="text" name="firstname"/></td></tr>
<tr><td>Last name: </td><td><label class="info">Lastname1</label><input class="edit" type="text" name="lastname"/></td></tr>
<tr><td>User name: </td><td><label class="info">Uesr 1</label><input class="edit" type="text" name="username"/></td></tr>
<tr><td>Password: </td><td><label class="info">Password1</label><input class="edit" type="text" name="password"/></td></tr>
<tr><td>Email: </td><td><label class="info">Email1</label><input class="edit" type="text" name="email"/></td></tr>
<tr><td>Phone Number: </td><td><label class="info">77635124554</label><input class="edit" type="text" name="phonenumber"/></td></tr>
</table>
<div style="margin-top: 5%"><input id="bEdit" type="submit" value="Edit"/><input type="submit" value="Save Changes"/></div>
</div>
</Center>
</form>
</body>
</html>